<ol>
  <p>Questions</p>
  <% for answer in @answer %>
    <ul>
      <li><p class="muted"><%= h answer.question.content %></p></li>
      <p class="text-warning"><%= h answer.content %></p>
    </ul>
  <% end %>
</ol>


<p class="text-success">Thanks for taking the survey.<br/><strong>Survey Successful !!</strong></p>